.env
*.pyc
__pycache__/
plantillas/.text_cache/
normatividad/.text_cache/
*.key
service-account*.json
*.roto_bak
*.bak_*
instance/
.local/
.gemini/
.cache/
venv/
.npm/
.vscode/
.rustup/
.docker/
.config/
.bashrc
.bash_logout
.bash_history
.profile
.sudo_as_admin_successful
.codeoss/
